.restaurant-container {
    position: relative;
    padding: 5px;
}
.table-container {
    position: relative;
    margin-top: 1rem;
    max-height: 400px;
    overflow: auto;
}
table {
  width: 100%;
}

.mat-flat-button {
  margin: 5px;
}

.mat-column-created {
  max-width: 124px;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}